# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.

# IntelliJ
.idea
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings

# Generated on build
*.class
target/

# Temporary files
client.log